.grid {
	width: 100%;
	position: relative;
}

[class^="cell"] {
	background-color: #001122;
	color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 1.4rem;
	padding: 0;
	position: relative;
	cursor: pointer;
}
[class^="cell"]:before {
	content: "";
	display: block;
	width: 80%;
	height: 80%;
	margin: 0;
	border: 0.1rem solid #fff;
	position: absolute;
	top: 10%;
	left: 10%;
}
[class^="cell"]:hover:before {
	background-color: rgba(255, 255, 255, 0.25);
}
.cell-b {
	background-color: #cc2244;
}