.alert.group {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 8rem;
	left: 0;
	top: 0;
}

.alert {
	position: relative;
	width: 100%;
	height: auto;
	line-height: 2rem;
	padding: 1rem 3.2rem 1rem 1.6rem;
	background: #eee;
	margin-bottom: 0.8rem;
	border-radius: 0.4rem;
	color: #666;
}

.alert p {
	margin: 0;
	line-height: inherit;
	color: inherit;
	font-size: 100%;
}

.alert button {
	background: #ddd;
	color: #999;
	border-color: #ddd;
	border-radius: 0.2rem;
	width: 2.4rem;
	height: 2.4rem;
	padding: 0;
	text-align: center;
	line-height: 2.4rem;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -1.2rem;
	margin-right: 0.8rem;
	border-width: 0;
}

.alert.success {
	color: #687;
	background-color: #ced;
	border-color: #ced;
}

.alert.success button {
	color: #8a9;
	background-color: #bdc;
	border-color: #bdc;
}

.alert.warning {
	color: #a95;
	background-color: #fea;
	border-color: #fea;
}

.alert.warning button {
	color: #ba6;
	background-color: #ed9;
	border-color: #ed9;
}

.alert.error {
	color: #966;
	background-color: #fcc;
	border-color: #fcc;
}

.alert.error button {
	color: #b88;
	background-color: #ebb;
	border-color: #ebb;
}

.alert.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 320px;
	margin: -160px 0 0 -240px;
	z-index: 9;
	transition-timing-function: ease-in-out;
	transition: 1s;
	transition-delay: 1s;
}
.alert.popup button {
	top: 0;
	margin-top: 0.8rem;
}