*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
  font-family: sans-serif;
  color: #444;
}

table,
button {
	margin-bottom: 1.6rem;
}

table {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table td {
	padding: 0.8rem;
	border: 1px solid #ddd;
}

.button {
	background: #012;
	color: #fff;
  border-radius: 0.2rem;
  border: none;
	height: auto;
	line-height: 3.2rem;
	padding: 0 1.2rem;
	font-weight: normal;
	outline: none;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

.button.warning {
	background: #fa0;
}

.button.success {
	background: #0c0;
}

input {
	font-size: 100%;
	line-height: 3rem;
	padding: 0 0.8rem;
	border: 0.1rem solid #ddd;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  color: #222;
}
input:focus,
input:hover {
	outline: none;
}

select {
	height: 3.2rem;
	padding: 0;
	line-height: 3.2rem;
	border-radius: 0;
	border: 0.1rem solid #ddd;
	vertical-align: top;
	text-transform: uppercase;
	outline: none;
}

input, textarea, select, button {
	font-size: 100%;
}

form {
  position: relative;
}

label {
  height: auto;
  line-height: 2rem;
  padding: 0.6rem 0;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 3.2rem;
}

.group {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

[class^="column"] {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.column-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}



#root {
	margin: 0 auto;
  padding: 0;
}